:root {
    --background: #1A1B28;
    --padding: 1.625rem;
}

.c-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--background);
    padding: 1.5rem;
    z-index: 99991;
    
    @include mediaquery(sm) {
        padding-top: var(--padding);
        padding-bottom: var(--padding);
    }
}
