include ../views/__shared__/dependencies

doctype html
html(lang="pt-BR")
    head
        meta(charset="utf-8")
        title projectPortfolio

        link(rel="stylesheet" href="../styles/main.scss")
    body
        .o-container(class="u-mt-40")
            //- +header({
            //-     title: 'Front',
            //-     subtitle: 'Bia',
            //- })

            //- +guide({ title: 'Título Dinâmico', icon: 'code', link: 'item0' }, [
            //-     { title: 'Item 1', icon: 'bulb', link: 'item1' },
            //-     { title: 'Item 2', icon: 'code', link: 'item2' },
            //-     { title: 'Item 3', icon: 'service', link: 'item3' },
            //-     { title: 'Item 4', icon: 'user', link: 'item4' },
            //-     { title: 'Item 5', icon: 'phone', link: 'item5' }
            //- ])
        
            +cat({})
    script(src="../javascript/index.js")