include ../views/__shared__/dependencies

doctype html
html(lang="pt-BR")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    head
        meta(charset="utf-8")
        title portfolioBia

        link(rel="stylesheet" href="../styles/main.scss")
    body
        +header({
            title: 'Front',
            subtitle: 'Bia',
        })  
        
        main
            +navigation({
                items: [{
                    icon: 'user',
                    link: 'about-me',
                    name: 'Sobre mim'
                },
                {
                    icon: 'service',
                    link: 'item2',
                    name: 'Serviços'
                },
                {
                    icon: 'code',
                    link: 'item1',
                    name: 'Projetos'
                },
                {
                    icon: 'bulb',
                    link: 'item0',
                    name: 'Conhecimentos'
                },
                {
                    icon: 'knowledge',
                    link: 'item5',
                    name: 'Qualificações'
                },
                {   
                    icon: 'phone',
                    link: 'item4',
                    name: 'Contato'
                }]
            })
            
            +navigation-mobile({
                items: [{
                    icon: 'user',
                    link: 'about-me',
                    name: 'Sobre mim'
                },
                {
                    icon: 'service',
                    link: 'item2',
                    name: 'Serviços'
                },
                {
                    icon: 'bulb',
                    link: 'item0',
                    name: 'Conhecimentos'
                },
                {   
                    icon: 'phone',
                    link: 'item4',
                    name: 'Contato'
                }]
            })

            .center-content
                section(class="u-mb-40 u-mt-40" id="about-me")
                    h2(class="u-fs-38 u-color-pink u-font-weight-800 u-mb-40 u-m-0 u-text-center")
                        | Sobre mim 
                        
                    +about-me({
                        title: 'Hello, I am Bianca Teodoro Urtado,',
                        description: 'Tenho 21 anos e sou residente em Presidente Prudente - SP. Graduada em Análise e Desenvolvimento de Sistemas pela Instituição Toledo Prudente e trabalho como desenvolvedora front-end. Gosto de desafios e estou sempre buscando me atualizar sobre novas tecnologias.',
                        imageUrl: '../images/bianca.png',
                        skills: true
                    })(class="u-mb-64")
                    
                    +history({
                        imageUrls: [
                            '../images/acai.jpeg',
                            '../images/pano.jpeg',
                            '../images/tanjiro-nezuko.jpg',
                            '../images/frieren.webp',
                            '../images/mia-amora.jpeg',
                            '../images/pizza.jpeg',
                        ]
                    })
                
                section(class="u-mb-32 u-mt-40" id="service-offers")
                    h2(class="u-fs-38 u-color-pink u-font-weight-800 u-mb-40 u-m-0 u-text-center")
                        | Serviços 

                    +service-offers({
                        items: [
                            { 
                                icon: 'laptop',
                                title: 'Desenvolvimento de sites',
                                description: 'Maximize a presença online da sua empresa com um site empresarial de alto impacto! Seja facilmente encontrado pelos seus clientes em potencial. Aumente sua visibilidade, expanda seu alcance e impulsione seus negócios. Vamos construir juntos o caminho para o sucesso online da sua empresa!.'
                            },
                            { 
                                icon: 'palette',
                                title: 'Criação de layouts',
                                description: 'Transforme suas ideias em realidade digital com os meus serviços de criação de protótipos de interfaces web e mobile! Antes de dar o próximo passo, valide sua visão com um protótipo que captura a essência e a funcionalidade da sua ideia. Faço a criação de protótipos, que testam a viabilidade e a usabilidade do seu conceito.'
                            }
                        ]
                    })

                section(class="u-mb-32 u-mt-40" id="projects")
                    h2(class="u-fs-38 u-color-pink u-font-weight-800 u-mb-40 u-m-0 u-text-center")
                        | Projetos 

                    +carousel({
                        items: [
                            { id: 0, name: "Project A", development: "Web Development", githubLink: "https://github.com/project-a" },
                            { id: 1, name: "Project B", development: "Mobile App Development", githubLink: "https://github.com/project-b" },
                            { id: 2, name: "Project C", development: "Data Science", githubLink: "https://github.com/project-c" }
                        ]
                    })


                    //- +carrousel({
                    //-     items: [
                    //-         {
                    //-             imageUrl: '../images/acai.jpeg',
                    //-             name: 'Tela de login em pug',
                    //-             developmet: 'Tela de login feita em pug, design feito por mim no figma e executado em pug no intuito de aprender mais sobre pug e explorar oque pode ser feito utilizando o framework.'
                    //-         },
                    //-         {
                    //-             imageUrl: '../images/frieren.webp',
                    //-             name: 'Tela de login em pug',
                    //-             developmet: 'Tela de login feita em pug, design feito por mim no figma e executado em pug no intuito de aprender mais sobre pug e explorar oque pode ser feito utilizando o framework.'
                    //-         },
                    //-         {
                    //-             imageUrl: '../images/laptop.png',
                    //-             name: 'Tela de login em pug',
                    //-             developmet: 'Tela de login feita em pug, design feito por mim no figma e executado em pug no intuito de aprender mais sobre pug e explorar oque pode ser feito utilizando o framework.'
                    //-         },
                    //-         {
                    //-             imageUrl: '../images/Mia.png',
                    //-             name: 'Tela de login em pug',
                    //-             developmet: 'Tela de login feita em pug, design feito por mim no figma e executado em pug no intuito de aprender mais sobre pug e explorar oque pode ser feito utilizando o framework.'
                    //-         },
                    //-         {
                    //-             imageUrl: '../images/gatoMemeRIndo.jpg',
                    //-             name: 'Tela de login em pug',
                    //-             developmet: 'Tela de login feita em pug, design feito por mim no figma e executado em pug no intuito de aprender mais sobre pug e explorar oque pode ser feito utilizando o framework.'
                    //-         },
                    //-         {
                    //-             imageUrl: '../images/pano.jpeg',
                    //-             name: 'Tela de login em pug',
                    //-             developmet: 'Tela de login feita em pug, design feito por mim no figma e executado em pug no intuito de aprender mais sobre pug e explorar oque pode ser feito utilizando o framework.'
                    //-         }
                    //-     ]
                    //- })
                    

                    //- +history({
                    //-     imageUrl: '../images/acai.jpeg'
                    //- })  
                    
                //- +guide({ title: 'Título Dinâmico', icon: 'code', link: 'item0' }, [
                //-     { title: 'Item 1', icon: 'bulb', link: 'item1' },
                //-     { title: 'Item 2', icon: 'code', link: 'item2' },
                //-     { title: 'Item 3', icon: 'service', link: 'item3' },
                //-     { title: 'Item 4', icon: 'user', link: 'item4' },
                //-     { title: 'Item 5', icon: 'phone', link: 'item5' }
                //- ])
                
                    //- +cat({})
                    //- +carrousel()
    script(src="../javascript/index.js")