include ../views/__shared__/dependencies

doctype html
html(lang="pt-BR")
    head
        meta(charset="utf-8")
        title projectPortfolio

        link(rel="stylesheet" href="../styles/main.scss")
    body
        +header({
            title: 'oii',
            description: 'testando',
        })

    script(src="../javascript/index.js")