mixin about-me(props = {})
    -
        let state = {
            title: props.title,
            description: props.description,
            imageUrl: props.imageUrl,
            skills: props.skills,
        }
    
    .c-about-me(class="u-flex")&attributes(attributes)
        .c-about-me__content
            .u-mb-16
                h3(class="u-mb-16 u-m-0 u-fs-28 u-font-weight-700 u-color-dark-blue-100")
                    =state.title
                
                span(class="c-about-me__description u-fs-18 u-color-white u-mb-16 u-font-weight-400")
                    =state.description

            if state.skills
                +skills({
                    items: [{
                        icon: 'graduation',
                        title: 'Vontade de aprender'
                    },
                    {
                        icon: 'users',
                        title: 'Gosto muito de trabalhar em equipe'
                    },
                    {
                        icon: 'rocket',
                        title: 'Proatividade para assumir novas responsabilidades'
                    }] 
                })
        
        .c-about-me__image 
            img(class="c-about-me__image" src=`${state.imageUrl}` alt="")
