mixin skills(props = {})
    -
        let state = {
            items: props.items || [],
            title: props.title
        }
    
    ul(
        class="c-skills u-flex u-pd-0"
    )
        each item, index in state.items
            li(
                class="c-skills__list-item u-background-pink u-flex u-align-center u-flex-column u-justify-center u-text-center u-m-0 u-pd-0 u-border-16"
            )
                .c-skills__icon
                    case item.icon
                        when 'users'
                            include ./src/svg/users.svg
                        when 'rocket'
                            include ./src/svg/rocket.svg 
                        when 'graduation'
                            include ./src/svg/graduation.svg 
                
                span(class="u-color-white") 
                    =item.title    
        