:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.65,0,0.35,1);
}

.link {
    color: var(--primary);
    transition: color var(--trans-dur);
}

.heading-primary {
    font-size: 2em;
    margin: 0 0 3rem;
    padding-top: 1.5rem;
    text-align: center;
}

.btn:hover {
	background-color: hsl(var(--hue),10%,50%);
}

.c-qualification {
	padding: 1.5em;
	width: 100%;
    border: 1px solid hsl(245, 75%, 52%);
	border-radius: 1rem;

	&__btn {
		background-color: #0C0D14;
		margin: .625rem;
		font-size: 1rem;
		border-radius: 0.25em;
		border: none;
		color: #DEDEEA;
		cursor: pointer;
		padding: 0.375em 0.75em;
		transition:
			background-color calc(var(--trans-dur) / 2) linear,
			color var(--trans-dur);
		-webkit-tap-highlight-color: transparent;
		box-shadow: hsl(245, 75%, 52%) 0px 1px 4px, hsl(245, 75%, 52%) 0px 0px 0px 3px;
		
		:hover {
			background-color: hsl(var(--hue),10%,50%);
		}

		&-group {
			display: flex;
			gap: 0.375em;
			margin-bottom: 1.5em;
		}
	}

	&__item {
		position: relative;

		&-header {
			display: flex;
		}
	}

	&__arrow {
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 0;
		width: 2rem;
		height: 2rem;
		border-radius: 0.25em;
		cursor: pointer;
		flex-shrink: 0;
		outline: transparent;
		transition:
			background-color calc(var(--trans-dur) / 2) linear,
			color var(--trans-dur);
		-webkit-appearance: none;
		appearance: none;
		-webkit-tap-highlight-color: transparent;

		&:focus-visible {
			background-color: hsl(var(--hue),10%,50%,0.4);
		}

		&:hover {
			background-color: hsl(var(--hue),10%,50%,0.4);
		}
		
		&-icon {
			display: block;
			pointer-events: none;
			transition: transform var(--trans-dur) var(--trans-timing);
		}
	}

	&__meta {
		width: 100%;
	}

	&__date {
		font-size: 0.833em;
		line-height: 2.4;
	}

	&__title {
		font-size: 1.5em;
		line-height: 1.333;
	}

	&__item-body {
		border-radius: 0.375em;
		overflow: hidden;
		margin-top: 0.5em;
		height: 0;
	}

	&__item-body-content {
		background-color: hsl(var(--hue),10%,50%,0.2);
		opacity: 0;
		padding: 1rem;
		visibility: hidden;
		transition:
			opacity var(--trans-dur) var(--trans-timing),
			visibility var(--trans-dur) steps(1,end);
	}
	
	&__item-body--expanded {
		height: auto;
	}
}

[dir="rtl"] .c-qualification__arrow-icon {
	transform: rotate(-90deg);
}

[dir="rtl"] .c-qualification__item:not(:last-child):before {
	right: 2.625em;
	left: auto;
	transform: translateX(50%);
}

/* Expanded state */

.c-qualification__item-body--expanded .c-qualification__item-body-content {
	opacity: 1;
	visibility: visible;
	transition-delay: var(--trans-dur), 0s;
}

.c-qualification__arrow[aria-expanded="true"] .c-qualification__arrow-icon {
	transform: rotate(-90deg);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
		--primary: hsl(var(--hue),90%,70%);
	}
}