.c-navigation {
    border-right: 0.063rem solid #28293D;
	background: #0C0D14;
	position: fixed;
	overflow: hidden;
	height: 100vh;
	top: 60px;
	bottom: 0;
	left: 0;
	width: 60px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-transform: translateZ(0) scale(1,1);
	transform: translateZ(0) scale(1,1);
	display: none;
	
	@include mediaquery(sm) {
		display: block;
	}

	> ul {
		margin: 100px 0;
	}

	li > a {
		color: #6842FF;
		display: flex;
		align-items: center;
		font-size: 16px;
		text-decoration: none;
		-webkit-transform: translateZ(0) scale(1,1);
		transform: translateZ(0) scale(1,1);
		-webkit-transition: all 0.15s linear;
		transition: all 0.15s linear;
	}

	
	&__name {
		color: #6842FF;
		text-decoration: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding-left: 1.5rem;
		transition: 0.5s;
		transition-property: background;
		font-weight: 500;
	}

	&__icon {
		fill: #6842FF;
		width: 2rem;
		height: 2rem;
	}

	&__list {
		margin: 6.25rem 0;
		padding: 0;
	}
}

.c-navigation:hover, section.navigation.expanded {
	width: 200px;
	overflow: hidden;
}