@import './mediaquerys.scss';

html {
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black-body);
    overflow-x: hidden !important;
}

:root {
    /*=== Background ===*/
    --black-body: #0C0D14;
}

main {
    display: flex;
}

.o-container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.center-content {
    flex: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    
    @include mediaquery(md) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}