.c-guide {
    border-right: 1px solid #28293D;
	position: fixed;
	overflow: hidden;
	height: 100vh;
	top: 60px;
	bottom: 0;
	left: 0;
    line-height: 2.8rem;
	width: 60px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-transform: translateZ(0) scale(1,1);
	transform: translateZ(0) scale(1,1);

    z-index: 900;
}