.c-guide {
    border-right: 1px solid #28293D;
	position: fixed;
	width: 50px;
	height: 100vh;
	top: 60px;
	bottom: 0;
	left: 0;
    z-index: -1;

	&__item {
		text-transform: capitalize;
	}

	&__icon {
		fill: #6842FF;
		width: 32px;
		height: 32px;
	}

	&__list {
		margin: 100px 0;
		padding: 0;
	}
	
	&__item {
		display: flex;
		justify-content: center;
	}
}