:root {
    --pink-dark: #ff4a836b;
    --first-color: #ef32d9;
    --color-pink: #fd3675;
    --second-color: #89fffd;
}

.u-color-pink {
    color: var(--color-pink);
}

.u-color-white {
    color: #ffff;
}