.u-fs-8 {
    font-size: .5rem;
}

.u-fs-12 {
    font-size: .75rem;
}

.u-fs-16 {
    font-size: 1rem;
}

.u-fs-18 {
    font-size: 1.125rem;
}

.u-fs-20 {
    font-size: 1.25rem;
}

.u-fs-24 {
    font-size: 1.5rem;
}

.u-fs-26 {
    font-size: 1.625rem;
}

.u-fs-28 {
    font-size: 1.75rem;
}

.u-fs-32 {
    font-size: 2rem;
}

.u-fs-38 {
    font-size: 2.375rem;
}