.u-m-0 {
    margin: 0;
}

.u-mb-0 {
    margin-bottom: 0;
}

.u-mb-8 {
    margin-bottom: .5rem;
}

.u-mb-12 {
    margin-bottom: .75rem;
}

.u-mb-16 {
    margin-bottom: 1rem;
}

.u-mb-18 {
    margin-bottom: 1.125rem;
}

.u-mb-24 {
    margin-bottom: 1.5rem;
}

.u-mt-40 {
    margin-top: 2.5rem;
}

.u-ml-14 {
    margin-left: 0.875rem;
}

.u-mr-14 {
    margin-right: 0.875rem;
}