mixin history(props = {})
    -   
        let state = {
            imageUrls: props.imageUrls || [],
        }

    .c-history
        each imageUrl in state.imageUrls
            .c-history__card
                img(class="c-history__image" src=`${imageUrl}` alt="")
