:root {
    --dark-body: #0C0D14;
    --dark-header: #1A1B28;
    --pink-dark: #ff4a836b;
    --first-color: #ef32d9;
    --color-pink: #fd3675;
    --second-color: #89fffd;
    --white: #DEDEEA; 
    --dark-blue-100: #348bee;
    --dark-blue-200: #372dc9;
    --dark-blue-300: #2C2081;
}

.u-color-pink {
    color: var(--color-pink);
}

.u-color-white {
    color: var(--white);
}

.u-color-dark-blue-100 {
    color: var(--dark-blue-100);
}

.u-color-dark-blue-200 {
    color: var(--dark-blue-200);
}

.u-color-dark-blue-300 {
    color: var(--dark-blue-300);
}