.u-flex {
    display: flex;
}

.u-align-center {
    align-items: center;
}

.u-justify-center {
    justify-content: center;
}

.u-justify-start {
    justify-content: start;
}

.u-justify-end {
    justify-content: end;
}

.u-justify-between {
    justify-content: space-between;
}

.u-justify-around {
    justify-content: space-around;
}

.u-text-center {
    text-align: center;
}

.u-flex-column {
    flex-direction: column;
}

.u-lh {
    line-height: 1.3rem;
}

.u-dn {
    display: none;
}

.u-db {
    display: block;
}

.u-inline-block {
    display: inline-block;
}

.u-flex-shrink-0 {
    flex-shrink: 0;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.u-flex-row {
    flex-direction: row;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-flex-colunm-row-sm {
	flex-direction: column;
	@include mediaquery(sm) {
		flex-direction: row;
	}
}


// .o-row {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//     max-width: 1280px;
//     margin: 0 auto;

//     @include mediaquery(md) {
//         grid-gap: 14rem;
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// .o-col-md-4 {
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
    
//     @include mediaquery(md) {
//         flex-direction: column;
//         justify-content: center;
//         padding: 20px;
//     }
// }

@mixin grid($prefix, $columns) {
    @for $current from 1 through $columns {
        .o-column-#{$current}\@#{$prefix} {
            flex: 0 0 percentage($current / $columns);
            -webkit-flex: 0 0 percentage($current / $columns);
            max-width: percentage($current / $columns);
        }
    }
}

.o-row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.o-column {
    flex: 0 0 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

$gridlist-generate: xs sm md lg;

@each $current in $gridlist-generate {
    @include mediaquery($current) {
        @include grid($current, 12);
    }
}

.o-offset {
    &-1\@sm {
        @include mediaquery(sm) {
            margin-left: 8.33333333%;
        }
    }

    &-1\@md {
        @include mediaquery(md) {
            margin-left: 8.33333333%;
        }
    }
}

.u-order-1 {
    order: 1;
}

.u-flex-auto-md {

    @include mediaquery(md) {
        flex: auto;
    }
}