.u-m-0 {
    margin: 0;
}

.u-m-8 {
    margin: 0.5rem;
}

.u-m-16 {
    margin: 1rem;
}

.u-m-24 {
    margin: 1.5rem;
}

.u-mr-24 {
    margin-right: 1.5rem;
}

.u-ml-md-0 {
    @include mediaquery(md) {
        margin-left: 0 !important;
    }
}

.u-mb-0 {
    margin-bottom: 0;
}

.u-mb-8 {
    margin-bottom: .5rem;
}

.u-mb-12 {
    margin-bottom: .75rem;
}

.u-mb-16 {
    margin-bottom: 1rem;
}

.u-mb-18 {
    margin-bottom: 1.125rem;
}

.u-mr-24 {
    margin-left: 1.5rem;
}

.u-ml-24 {
    margin-left: 1.5rem;
}

.u-m-24 {
    margin: 1.5rem;
}

.u-mb-24 {
    margin-bottom: 1.5rem;
}

.u-mr-auto {
    margin-right: auto;
}

.u-mb-32 {
    margin-bottom: 2rem;
}

.u-mr-32 {
    margin-right: 2rem;
}

.u-mb-64 {
    margin-bottom: 4rem;
}

.u-mt-24 {
    margin-top: 1.5rem;
}

.u-mt-40 {
    margin-top: 2.5rem;
}

.u-mb-40 {
    margin-bottom: 2.5rem;
}

.u-mt-8 {
    margin-top: .5rem;
}

.u-ml-14 {
    margin-left: 0.875rem;
}

.u-mr-14 {
    margin-right: 0.875rem;
}

.u-mr-14-sm {
    @include mediaquery(sm) {
        margin-right: 0.875rem;
    }
}

.u-ml-14-sm {
    @include mediaquery(sm) {
        margin-left: 0.875rem;
    }
}

.u-mb-48 {
    margin-bottom: 3rem;
}

.u-mb-md-0 {
    @include mediaquery(md) {
        margin-bottom: 0;
    }
}

.u-ml-56 {
    margin-left: 3.5rem;
}

.u-mt-56 {
    margin-top: 3.5rem;
}

.u-mb-56 {
    margin-bottom: 3.5rem;
}

.u-mr-56 {
    margin-right: 3.5rem;
}

.u-mr-8 {
    margin-right: .5rem;
}

.u-mt-16 {
    margin-top: 1rem;
}

.u-mt-120 {
    margin-top: 7.5rem;
}

.u-mb-120 {
    margin-bottom: 7.5rem;
}

.u-mb-64 {
    margin-bottom: 4rem;
}

.u-mt-64 {
    margin-top: 4rem;
}