.u-pd-0 {
    padding: 0;
}

.u-pd-24 {
    padding: 1.5rem;
}

.u-pt-32 {
    padding-top: 2rem;
}

.u-pb-32 {
    padding-bottom: 2rem;
}

.u-pd-32 {
    padding: 2rem;
}

.u-pb-24 {
    padding-bottom: 1.5rem;
}

.u-pt-24 {
    padding-top: 1.5rem;
}

.u-pl-24 {
    padding-left: 1.5rem;
}

.u-pl-16 {
    padding-left: 1rem;
}

.u-pt-120 {
    padding-top: 7.5rem;
}

.u-pr-120 {
    padding-right: 7.5rem;
}

.u-pl-120 {
    padding-left: 7.5rem;
}

.u-pt-40 {
    padding-top: 2.5rem;
}

.u-pr-40 {
    padding-right: 2.5rem;
}

.u-pl-40 {
    padding-left: 2.5rem;
}