//- Components
include ../../components/header/header
include ../../components/about-me/about-me
include ../../components/guide/guide
include ../../components/cat/cat
include ../../components/carrousel/carrousel
include ../../components/skills/skills