.c-service-offers {
    
    &__grid {
        margin: 0;
        padding: 0;
        flex-direction: column;

        @include mediaquery(sm) {
            flex-direction: unset;
        }
    }
    &__card {
        @include mediaquery(sm) {
            width: 100%;
        }

        height: auto;
        padding: 2em 1.5em;
        background: linear-gradient(#2f303438 50%, #348bee 50%);
        border: 1px solid #5344ff;
        background-size: 100% 200%;
        background-position: 0 3%;
        border-radius: 1rem;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.185) -6px -2px 16px 0px;
        cursor: pointer;
        
        &-icon {
            width: 3rem;
            height: 3rem;
        }
    }    
}