:root {
    --background: #1A1B28;
    --padding: 1.625rem;
}

.c-header {
    position: fixed;
    z-index: 1;
    background: var(--background);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
