mixin header(props = {})
    -
        let state = {
            title: props.title,
            subtitle: props.subtitle
        }

    .c-header(class="u-w-100")
        .o-container(class="u-h-100 u-m-0")
            h3(class="u-color-white u-fs-18 u-text-uppercase u-m-0")
                =state.title
                span(class="u-color-pink u-text-uppercase") 
                    =state.subtitle