mixin cat(props={})

    .c-cat 
        .c-cat__box 
        .c-cat__box-2
        .c-cat__box-cover
        .c-cat__box-shadow
        .c-cat__box-heart
        .c-cat__left 
        .c-cat__right
        .c-cat__detailEarLeft 
        .c-cat__detailEarLeft-2
        .c-cat__detailEarRight 
        .c-cat__detailEarRight-2
        .c-cat__detailEarHead
        .c-cat__ear-left
        .c-cat__ear-right
        .c-cat__eye-left
        .c-cat__eye-right
        .c-cat__nose