$blink-color: #49B90D;

.blink {
    background-color: #49B90D;
    border-radius: 50%;
    box-sizing: content-box;
    height: 0.375rem;
    vertical-align: middle;
    width: 0.375rem;

    &.is-pulse {
        &:before {
        animation: blinkAnimation 1.5s infinite;
        background-color: #49B90D;
        border-radius: 50%;
        bottom: 0;
        content: '';
        height: 0.375rem;
        left: 0;
        position: absolute;
        width: 0.375rem;
        }
    }

    &.is-bordered {
        height: 0.5rem;
        width: 0.5rem;
        border: 2px solid #49B90D;

        &:before {
        height: 0.5rem;
        width: 0.5rem;
        }
    }

    &.is-success {
        background-color: #49B90D;

        &:before {
            background-color: #49B90D;
        }
    }
}

@keyframes blinkAnimation {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    70% {
        transform: scale(2.5);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}